<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        #success {
            display: none;
        }
        
        #danger {
            display: none;
        }
    </style>
</head>

<body ng-controller="pizzaController">
    <div class="container">
        <h1>Tony's Pizza</h1>

        <h2>{{model.title}}</h2>

        <h2>Topping Search</h2>
        <input type="text" class="form-control" ng-model="model.search">

        <div ng-hide="model.search">
            Enter the search criteria above.
        </div>

        <p class="alert alert-success" id="success" ng-style="successAlert">Topping added.
            <button ng-click="hideSuccessAlert()">Close</button>
        </p>

        <p class="alert alert-danger" ng-show="model.search && filteredResult.length == 0"> no result found.</p>

        <div ng-show="model.search" ng-repeat="t in filteredResult = (model.availabletoppings | filter:model.search)">
            <span ng-click="addTopping(t)">{{t}}</span>
        </div>



        <!-- selected toppings. -->
        <h3 ng-hide="model.toppings =='' ">Selected toppings</h3>
        <div ng-repeat="t in model.toppings">
            <span>{{t}}</span>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js "></script>
    <script src="./app/app.js "></script>
    <script src="./app/pizzaController.js "></script>
</body>

</html>