<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="menuController">
    <div class="container">
        <h1>MP's Pizza Store</h1>
        <hr>
        <!-- :: this char is used to just one time bind to controller. -->
        <h2>{{::model.title}}</h2>
        <hr>

        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Cheese Pizza')" />Cheese Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Onion Pizza')" />Onion Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Veggy Lover Pizza')" />Veggy Lover Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('BBQ Pizza')" />BBQ Pizza</label>

        </div>

        <!-- display selected menu item. -->
        <div>
            <h3>Selected item</h3>
            <pre>{{model.mainDish}} <span style="color: red;">{{Note}}</span></pre>
        </div>
        <!-- special instructions by the user. -->
        <div>
            <h3>Special Instructions</h3>
            <textarea cols="15" rows="4" class="form-control" ng-model="model.specialInstructions"></textarea>
        </div>

        <!-- order summary -->
        <div>
            <h3>Order summary.</h3>
            <pre>{{model.mainDish}} -- {{model.specialInstructions}}</pre>
        </div>

    </div>


    <!-- angular script files. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/menuController.js"></script>
</body>

</html>